.cart {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000dd;
  display: flex;
  justify-content: center;
  align-items: center;

  &-wrp {
    width: 600px;
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
  }

  &-header {
    margin-top: 0;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    & img {
      width: 100px;
    }
  }
}
